<!DOCTYPE html>
<html  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-template="vertical-menu-template-free"
  xmlns:th="http://thymeleaf.org" 
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>자재 투입</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">

    <link href="../assets/vendor/css/fullcalendar.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
        
            <div style="width:100px; height:150px; float:left;">
				<img src="../images/maru_logo.png" width="70px" height="70px">
			</div>
			<div style="width:300px; height:150px; padding-top:20px; float:left;">
				 <h2 style="color:violet">마루건설 자재 투입</h2>
			</div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            
			 <div class="card" style="width:80%; margin:100px 20px;">
                	   <div class="card-body">
                                <h4 class="card-intro-title">투입 종류</h4>

                                <div class="">
                                    <div id="external-events" class="my-3">
                                        <p>Drag&Drop 으로 편하게 일정 관리</p>
                                        <div class="external-event" data-class="bg-danger"><i class="fa fa-move"></i>공통 자재</div>
                                        <div class="external-event" data-class="bg-primary"><i class="fa fa-move"></i>건축팀 자재</div>
                                        <div class="external-event" data-class="bg-success"><i class="fa fa-move"></i>토목팀 자재
                                        </div>
                                        <div class="external-event" data-class="bg-warning"><i class="fa fa-move"></i>전기팀 자재</div>
                                        <div class="external-event" data-class="bg-pink"><i class="fa fa-move"></i>기계팀 자재</div>                                    	
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                        
                    <div class="card" style="width:80%; margin:20px;" >
                    	<button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{allCommitMaterials}'|">돌아가기</button>                   
                    </div>    

        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
               
                <!-- row -->


                <div class="row">
                   
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-body">
                                <div id="calendar" class="app-fullcalendar"></div>
                            </div>
                        </div>
                    </div>
                    <!-- BEGIN MODAL -->
                    <div class="modal fade none-border" id="event-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong>투입 일정 추가</strong></h4>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">닫기</button>
                                    <button type="button" class="btn btn-success save-event waves-effect waves-light">투입</button>

                                    <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">삭제</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Add Category -->
                    <div class="modal fade none-border" id="add-category">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong>Add a category</strong></h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">Category Name</label>
                                                <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Choose Category Color</label>
                                                <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                                    <option value="danger">공통 자재</option>
                                                    <option value="primary">건축팀 자재</option>
                                                    <option value="success">토목팀 자재</option>
                                                    <option value="warning">전기팀 자재</option>
                                                    <option value="pink">기계팀 자재</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">닫기</button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


   

        


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="../assets/vendor/js/global.min.js"></script>
    <script src="../assets/vendor/js/quixnav-init.js"></script>
    <script src="../assets/vendor/js/custom.min.js"></script>
    <!--removeIf(production)-->
    <!-- Demo scripts -->
    <script src="../assets/vendor/js/styleSwitcher.js"></script>



    <script src="../assets/vendor/js/jquery-ui.min.js"></script>
    <script src="../assets/vendor/js/moment.min.js"></script>

    <script src="../assets/vendor/js/fullcalendar.min.js"></script>
    <script src="../assets/vendor/js/fullcalendar-init.js"></script>

</body>

</html>