<!DOCTYPE html>

<!-- beautify ignore:start -->
<html
  xmlns:th="http://thymeleaf.org"
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>자금관리</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <!-- <link rel="icon" type="image/x-icon" href="assets/img/favicon/favicon.ico" /> -->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core_r.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
    
    <script>
    window.onload = function () {
    	  let cardColor, headingColor, axisColor, shadeColor, borderColor;

    	  cardColor = config.colors.white;
    	  headingColor = config.colors.headingColor;
    	  axisColor = config.colors.axisColor;
    	  borderColor = config.colors.borderColor;
    	  
    	  let proSales1 ='[[${proSales1}]]';
    	  let proSales2 ='[[${proSales2}]]';
    	  let proSales3 ='[[${proSales3}]]';
    	  let proSales4 ='[[${proSales4}]]';
    	  
    	  
    	  //수평바차트
    	  //프로젝트별 수입 그래프
    		new Chart(document.getElementById("bar-chart-horizontal"), {
    		    type: 'horizontalBar',
    		    data: {
    		      labels: ["1번 프로젝트", "2번 프로젝트", "3번 프로젝트", "4번 프로젝트"],
    		      datasets: [
    		        {
    		          backgroundColor: ["#3e95cd","#3cba9f","#c45850", "#e8c3b9"],
    		          data: [proSales1,proSales2,proSales3,proSales4]
    		        }
    		      ]
    		    },
    		    options: {
    		      legend: { display: false },
    		      title: {
    		        display: true,
    		        text: '단위 : 억 (원)'
    		      },
    		      scales: {
    					xAxes: [{
    						ticks: {
    							min: 0
    						}
    					}]
    				}
    		    }
    		});
    		  
    	  
    	  
    	  let qs221 = '[[${qs221}]]';
    	  let qs222 = '[[${qs222}]]';
    	  let qs223 = '[[${qs223}]]';
    	  let qs224 = '[[${qs224}]]';
    	  let qe221 = '[[${qe221}]]';
    	  let qe222 = '[[${qe222}]]';
    	  let qe223 = '[[${qe223}]]';
    	  let qe224 = '[[${qe224}]]';    	  

    	  // Total Revenue Report Chart - Bar Chart
    	  // 분기별 수입/지출 지표
    	    const totalRevenueChartEl = document.querySelector('#totalRevenueChart'),
    	    totalRevenueChartOptions = {
    	      series: [
    	        {
    	          name: '수입',
    	          data: [qs221, qs222, qs223, qs224]
    	        },
    	        {
    	          name: '지출',
    	          data: [-qe221, -qe222, -qe223, -qe224]
    	        }
    	      ],
    	      chart: {
    	        height: 300,
    	        stacked: true,
    	        type: 'bar',
    	        toolbar: { show: false }
    	      },
    	      plotOptions: {
    	        bar: {
    	          horizontal: false,
    	          columnWidth: '33%',
    	          borderRadius: 12,
    	          startingShape: 'rounded',
    	          endingShape: 'rounded'
    	        }
    	      },
    	      colors: [config.colors.primary, config.colors.info],
    	      dataLabels: {
    	        enabled: false
    	      },
    	      stroke: {
    	        curve: 'smooth',
    	        width: 6,
    	        lineCap: 'round',
    	        colors: [cardColor]
    	      },
    	      legend: {
    	        show: true,
    	        horizontalAlign: 'left',
    	        position: 'top',
    	        markers: {
    	          height: 8,
    	          width: 8,
    	          radius: 12,
    	          offsetX: -3
    	        },
    	        labels: {
    	          colors: axisColor
    	        },
    	        itemMargin: {
    	          horizontal: 10
    	        }
    	      },
    	      grid: {
    	        borderColor: borderColor,
    	        padding: {
    	          top: 0,
    	          bottom: -8,
    	          left: 20,
    	          right: 20
    	        }
    	      },
    	      xaxis: {
    	        categories: ['1st', '2nd', '3rd', '4th'],
    	        labels: {
    	          style: {
    	            fontSize: '13px',
    	            colors: axisColor
    	          }
    	        },
    	        axisTicks: {
    	          show: false
    	        },
    	        axisBorder: {
    	          show: false
    	        }
    	      },
    	      yaxis: {
    	        labels: {
    	          style: {
    	            fontSize: '13px',
    	            colors: axisColor
    	          }
    	        }
    	      },
    	      responsive: [
    	        {
    	          breakpoint: 1700,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '32%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 1580,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '35%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 1440,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '42%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 1300,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '48%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 1200,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '40%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 1040,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 11,
    	                columnWidth: '48%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 991,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '30%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 840,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '35%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 768,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '28%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 640,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '32%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 576,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '37%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 480,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '45%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 420,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '52%'
    	              }
    	            }
    	          }
    	        },
    	        {
    	          breakpoint: 380,
    	          options: {
    	            plotOptions: {
    	              bar: {
    	                borderRadius: 10,
    	                columnWidth: '60%'
    	              }
    	            }
    	          }
    	        }
    	      ],
    	      states: {
    	        hover: {
    	          filter: {
    	            type: 'none'
    	          }
    	        },
    	        active: {
    	          filter: {
    	            type: 'none'
    	          }
    	        }
    	      }
    	    };
    	  if (typeof totalRevenueChartEl !== undefined && totalRevenueChartEl !== null) {
    	    const totalRevenueChart = new ApexCharts(totalRevenueChartEl, totalRevenueChartOptions);
    	    totalRevenueChart.render();
    	  }



    	  // 분기별 수익률
    	  // Growth Chart - Radial Bar Chart
    	  // --------------------------------------------------------------------
    	  const growthChartEl = document.querySelector('#growthChartE1'),
    	    growthChartOptions1 = {
    	      series: [78],
    	      labels: ['Growth'],
    	      chart: {
    	        height: 240,
    	        type: 'radialBar'
    	      },
    	      plotOptions: {
    	        radialBar: {
    	          size: 150,
    	          offsetY: 10,
    	          startAngle: -150,
    	          endAngle: 150,
    	          hollow: {
    	            size: '55%'
    	          },
    	          track: {
    	            background: cardColor,
    	            strokeWidth: '100%'
    	          },
    	          dataLabels: {
    	            name: {
    	              offsetY: 15,
    	              color: headingColor,
    	              fontSize: '15px',
    	              fontWeight: '600',
    	              fontFamily: 'Public Sans'
    	            },
    	            value: {
    	              offsetY: -25,
    	              color: headingColor,
    	              fontSize: '22px',
    	              fontWeight: '500',
    	              fontFamily: 'Public Sans'
    	            }
    	          }
    	        }
    	      },
    	      colors: [config.colors.primary],
    	      fill: {
    	        type: 'gradient',
    	        gradient: {
    	          shade: 'dark',
    	          shadeIntensity: 0.5,
    	          gradientToColors: [config.colors.primary],
    	          inverseColors: true,
    	          opacityFrom: 1,
    	          opacityTo: 0.6,
    	          stops: [30, 70, 100]
    	        }
    	      },
    	      stroke: {
    	        dashArray: 5
    	      },
    	      grid: {
    	        padding: {
    	          top: -35,
    	          bottom: -10
    	        }
    	      },
    	      states: {
    	        hover: {
    	          filter: {
    	            type: 'none'
    	          }
    	        },
    	        active: {
    	          filter: {
    	            type: 'none'
    	          }
    	        }
    	      }
    	    };
    	  if (typeof growthChartEl !== undefined && growthChartEl !== null) {
    	    const growthChart = new ApexCharts(growthChartEl, growthChartOptions1);
    	    growthChart.render();
    	  }
    	  //--------------------------------------------------------------------
    	  //2,3,4 분기별 수익률
    	  //--------------------------------------------------------------------
    	    const growthChartE2 = document.querySelector('#growthChartE2'),
    	    growthChartOptions2 = {
    	      series: [32],
    	      labels: ['Growth'],
    	      chart: {
    	        height: 240,
    	        type: 'radialBar'
    	      },
    	      plotOptions: {
    	        radialBar: {
    	          size: 150,
    	          offsetY: 10,
    	          startAngle: -150,
    	          endAngle: 150,
    	          hollow: {
    	            size: '55%'
    	          },
    	          track: {
    	            background: cardColor,
    	            strokeWidth: '100%'
    	          },
    	          dataLabels: {
    	            name: {
    	              offsetY: 15,
    	              color: headingColor,
    	              fontSize: '15px',
    	              fontWeight: '600',
    	              fontFamily: 'Public Sans'
    	            },
    	            value: {
    	              offsetY: -68,
    	              color: headingColor,
    	              fontSize: '22px',
    	              fontWeight: '500',
    	              fontFamily: 'Public Sans'
    	            }
    	          }
    	        }
    	      },
    	      colors: [config.colors.primary],
    	      fill: {
    	        type: 'gradient',
    	        gradient: {
    	          shade: 'dark',
    	          shadeIntensity: 0.5,
    	          gradientToColors: [config.colors.primary],
    	          inverseColors: true,
    	          opacityFrom: 1,
    	          opacityTo: 0.6,
    	          stops: [30, 70, 100]
    	        }
    	      },
    	      stroke: {
    	        dashArray: 5
    	      },
    	      grid: {
    	        padding: {
    	          top: -35,
    	          bottom: -10
    	        }
    	      },
    	      states: {
    	        hover: {
    	          filter: {
    	            type: 'none'
    	          }
    	        },
    	        active: {
    	          filter: {
    	            type: 'none'
    	          }
    	        }
    	      }
    	    };
    	  if (typeof growthChartE2 !== undefined && growthChartE2 !== null) {
    	    const growthChart = new ApexCharts(growthChartE2, growthChartOptions2);
    	    growthChart.render();
    	  }
    	  
    	  
    	  
    	  

    	  // Profit Report Line Chart
    	  // --------------------------------------------------------------------
    	  const profileReportChartEl = document.querySelector('#profileReportChart'),
    	    profileReportChartConfig = {
    	      chart: {
    	        height: 80,
    	        // width: 175,
    	        type: 'line',
    	        toolbar: {
    	          show: false
    	        },
    	        dropShadow: {
    	          enabled: true,
    	          top: 10,
    	          left: 5,
    	          blur: 3,
    	          color: config.colors.warning,
    	          opacity: 0.15
    	        },
    	        sparkline: {
    	          enabled: true
    	        }
    	      },
    	      grid: {
    	        show: false,
    	        padding: {
    	          right: 8
    	        }
    	      },
    	      colors: [config.colors.warning],
    	      dataLabels: {
    	        enabled: false
    	      },
    	      stroke: {
    	        width: 5,
    	        curve: 'smooth'
    	      },
    	      series: [
    	        {
    	          data: [110, 270, 145, 245, 205, 285]
    	        }
    	      ],
    	      xaxis: {
    	        show: false,
    	        lines: {
    	          show: false
    	        },
    	        labels: {
    	          show: false
    	        },
    	        axisBorder: {
    	          show: false
    	        }
    	      },
    	      yaxis: {
    	        show: false
    	      }
    	    };
    	  if (typeof profileReportChartEl !== undefined && profileReportChartEl !== null) {
    	    const profileReportChart = new ApexCharts(profileReportChartEl, profileReportChartConfig);
    	    profileReportChart.render();
    	  }

    	  
    	  
    	  

    	  let exRate1 = '[[${exRate1}]]';
    	  let exRate2 = '[[${exRate2}]]';
    	  let exRate3 = '[[${exRate3}]]';
    	  let exRate4 = '[[${exRate4}]]';
    	  
    	  // Order Statistics Chart 
    	  //프로젝트 내 지출 비율
		  const chartOrderStatistics = document.querySelector('#orderStatisticsChart'),
		    orderChartConfig = {
		      chart: {
		        height: 150,
		        width: 130,
		        type: 'donut'
		      },
		      labels: ['식비', '기타', '인건비', '자재비'],
		      series: [16, 14, 23, 47],
		      colors: [config.colors.primary, config.colors.secondary, config.colors.info, config.colors.success],
		      stroke: {
		        width: 5,
		        colors: cardColor
		      },
		      dataLabels: {
		        enabled: false,
		        formatter: function (val, opt) {
		          return parseInt(val) + '%';
		        }
		      },
		      legend: {
		        show: false
		      },
		      grid: {
		        padding: {
		          top: 0,
		          bottom: 0,
		          right: 15
		        }
		      },
		      plotOptions: {
		        pie: {
		          donut: {
		            size: '65%',
		            labels: {
		              show: true,
		              value: {
		                fontSize: '1.2rem',
		                fontFamily: 'Public Sans',
		                color: headingColor,
		                offsetY: -15,
		                formatter: function (val) {
		                  return parseInt(val) + '%';
		                }
		              },
		              name: {
		                offsetY: 20,
		                fontFamily: 'Public Sans'
		              },
		              total: {
		                show: true,
		                fontSize: '0.7rem',
		                color: axisColor,
		                label: '종류',
		                formatter: function (w) {
		                  return '%';
		                }
		              }
		            }
		          }
		        }
		      }
		    };
		  if (typeof chartOrderStatistics !== undefined && chartOrderStatistics !== null) {
		    const statisticsChart = new ApexCharts(chartOrderStatistics, orderChartConfig);
		    statisticsChart.render();
		  }

    	  // Income Chart - Area chart
    	  // --------------------------------------------------------------------
    	  const incomeChartEl = document.querySelector('#incomeChart'),
    	    incomeChartConfig = {
    	      series: [
    	        {
    	          data: [24, 21, 30, 22, 42, 26, 35, 29]
    	        }
    	      ],
    	      chart: {
    	        height: 215,
    	        parentHeightOffset: 0,
    	        parentWidthOffset: 0,
    	        toolbar: {
    	          show: false
    	        },
    	        type: 'area'
    	      },
    	      dataLabels: {
    	        enabled: false
    	      },
    	      stroke: {
    	        width: 2,
    	        curve: 'smooth'
    	      },
    	      legend: {
    	        show: false
    	      },
    	      markers: {
    	        size: 6,
    	        colors: 'transparent',
    	        strokeColors: 'transparent',
    	        strokeWidth: 4,
    	        discrete: [
    	          {
    	            fillColor: config.colors.white,
    	            seriesIndex: 0,
    	            dataPointIndex: 7,
    	            strokeColor: config.colors.primary,
    	            strokeWidth: 2,
    	            size: 6,
    	            radius: 8
    	          }
    	        ],
    	        hover: {
    	          size: 7
    	        }
    	      },
    	      colors: [config.colors.primary],
    	      fill: {
    	        type: 'gradient',
    	        gradient: {
    	          shade: shadeColor,
    	          shadeIntensity: 0.6,
    	          opacityFrom: 0.5,
    	          opacityTo: 0.25,
    	          stops: [0, 95, 100]
    	        }
    	      },
    	      grid: {
    	        borderColor: borderColor,
    	        strokeDashArray: 3,
    	        padding: {
    	          top: -20,
    	          bottom: -8,
    	          left: -10,
    	          right: 8
    	        }
    	      },
    	      xaxis: {
    	        categories: ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
    	        axisBorder: {
    	          show: false
    	        },
    	        axisTicks: {
    	          show: false
    	        },
    	        labels: {
    	          show: true,
    	          style: {
    	            fontSize: '13px',
    	            colors: axisColor
    	          }
    	        }
    	      },
    	      yaxis: {
    	        labels: {
    	          show: false
    	        },
    	        min: 10,
    	        max: 50,
    	        tickAmount: 4
    	      }
    	    };
    	  if (typeof incomeChartEl !== undefined && incomeChartEl !== null) {
    	    const incomeChart = new ApexCharts(incomeChartEl, incomeChartConfig);
    	    incomeChart.render();
    	  }

    	  // Expenses Mini Chart - Radial Chart
    	  // --------------------------------------------------------------------
    	  const weeklyExpensesEl = document.querySelector('#expensesOfWeek'),
    	    weeklyExpensesConfig = {
    	      series: [65],
    	      chart: {
    	        width: 60,
    	        height: 60,
    	        type: 'radialBar'
    	      },
    	      plotOptions: {
    	        radialBar: {
    	          startAngle: 0,
    	          endAngle: 360,
    	          strokeWidth: '8',
    	          hollow: {
    	            margin: 2,
    	            size: '45%'
    	          },
    	          track: {
    	            strokeWidth: '50%',
    	            background: borderColor
    	          },
    	          dataLabels: {
    	            show: true,
    	            name: {
    	              show: false
    	            },
    	            value: {
    	              formatter: function (val) {
    	                return '$' + parseInt(val);
    	              },
    	              offsetY: 5,
    	              color: '#697a8d',
    	              fontSize: '13px',
    	              show: true
    	            }
    	          }
    	        }
    	      },
    	      fill: {
    	        type: 'solid',
    	        colors: config.colors.primary
    	      },
    	      stroke: {
    	        lineCap: 'round'
    	      },
    	      grid: {
    	        padding: {
    	          top: -10,
    	          bottom: -15,
    	          left: -10,
    	          right: -10
    	        }
    	      },
    	      states: {
    	        hover: {
    	          filter: {
    	            type: 'none'
    	          }
    	        },
    	        active: {
    	          filter: {
    	            type: 'none'
    	          }
    	        }
    	      }
    	    };
    	  if (typeof weeklyExpensesEl !== undefined && weeklyExpensesEl !== null) {
    	    const weeklyExpenses = new ApexCharts(weeklyExpensesEl, weeklyExpensesConfig);
    	    weeklyExpenses.render();
    	  }
    	}
    </script>
    
  </head>

  <body>

	<div class="layout">
		<nav
			class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center  bg-navbar-theme"
			id="layout-navbar">
			<div class="app-brand">
				<a href="dashboard.html" class="app-brand-link"> <span
					class="app-brand-logo"> <img src="../images/maru_logo.png"
						class="maru_logo" alt="">
				</span> <span class="app-brand-text demo menu-text fw-bolder ms-2">마루건설</span>
				</a>
			</div>

			<div class="navbar-nav-right d-flex align-items-center"
				id="navbar-collapse">
				<ul class="navbar-nav flex-row align-items-center ms-auto">
					<!-- Place this tag where you want the button to render. -->
					<!-- 여기에 넣고싶은 버튼 넣으면 됨. -->
					<li class="nav-item lh-1 me-3">
						<!-- 별모양 버튼 --> <a class="github-button" href="#"
						data-icon="octicon-star" data-size="large" data-show-count="true">Star</a>
					</li>

					<!-- 프사 있는 부분 -->
					<!-- User -->
					<!-- 눌렀을 때, 내리려면 li안에 dropdown 쓰면 될듯 -->
					<li class="nav-item navbar-dropdown dropdown-user dropdown"><a
						class="nav-link dropdown-toggle hide-arrow"
						href="javascript:void(0);" data-bs-toggle="dropdown"> <!-- online, offline으로 상태 변화가능 -->
							<div class="avatar avatar-online">
								<img src="../assets/img/avatars/1.png" alt
									class="w-px-40 h-auto rounded-circle" />
							</div>
					</a>

						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="#">
									<div class="d-flex">
										<div class="flex-shrink-0 me-3">
											<div class="avatar avatar-online">
												<img src="../assets/img/avatars/1.png" alt
													class="w-px-40 h-auto rounded-circle" />
											</div>
										</div>
										<div class="flex-grow-1">
											<span class="fw-semibold d-block">John Doe</span> <small
												class="text-muted">Admin</small>
										</div>
									</div>
							</a></li>
							<!-- 구분자 -->
							<li>
								<div class="dropdown-divider"></div>
							</li>
							<li><a class="dropdown-item" href="#"> <i
									class="bx bx-user me-2"></i> <span class="align-middle">My
										Profile</span>
							</a></li>
							<li><a class="dropdown-item" href="#"> <i
									class="bx bx-cog me-2"></i> <span class="align-middle">Settings</span>
							</a></li>
							<li><a class="dropdown-item" href="#"> <span
									class="d-flex align-items-center align-middle"> <i
										class="flex-shrink-0 bx bx-credit-card me-2"></i> <span
										class="flex-grow-1 align-middle">Billing</span> <span
										class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
								</span>
							</a></li>
							<li>
								<div class="dropdown-divider"></div>
							</li>
							<li><a class="dropdown-item" href="auth-login-basic.html">
									<i class="bx bx-power-off me-2"></i> <span class="align-middle">Log
										Out</span>
							</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
	</div>


	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="mb-5">
			
			
				<!--대시보드-->
				<nav
					class="navbar navbar-example navbar-expand-lg nav_white_custom bg-white ">
					<div class="container-fluid">
						<a class="dash_board_custom" th:href="@{/dashboard}">대시보드</a>
						<button class="navbar-toggler" type="button"
							data-bs-toggle="collapse" data-bs-target="#navbar-ex-2"
							aria-controls="navbar-ex-2" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbar-ex-2">
							<div class="navbar-nav me-auto">
								<a class="nav-item dash_board_custom" href="javascript:void(0)">프로젝트관리</a>
								<a class="nav-item dash_board_custom" href="javascript:void(0)">결재상황</a>
								<a class="nav-item dash_board_custom" href="javascript:void(0)">공고현황</a>
								<a class="nav-item dash_board_custom" href="javascript:void(0)">관리페이지</a>
							</div>
						</div>
					</div>
				</nav>

				<div class="margin_custom"></div>
			<!-- 대시보드 Navbar 끝 -->

          

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y" style="padding-right:0; padding-left:0;">
              
              <div class="row">                
                <!-- Total Revenue -->
                <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                  <div class="card">
                    <div class="row row-bordered g-0">
                      <div class="col-md-8">
                        <h5 class="card-header m-0 me-2 pb-3">분기별 수입/지출 지표</h5>
                        <!-- totalRevenueChart로 만들어져있음 -->
                        <div id="totalRevenueChart" class="px-2"></div>
                      </div>
                      <div class="col-md-4">
                        <div class="card-body">
                          <div class="text-center">
                            <div class="dropdown">
                              <button
                                class="btn btn-sm btn-outline-primary dropdown-toggle"
                                type="button"
                                id="growthReportId"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                              >
                                2022 1사분기
                              </button>
                              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                <a 
                                  class="dropdown-item" 
                                  id="growthReport2"
                                  href="#growthChartE2"
                                  >2022 2사분기</a>
                                <a 
                                  class="dropdown-item" 
                                  id="growthReport3"
                                  href="#growthChartE3"
                                  >2022 3사분기</a>                                  
                                <a 
                                  class="dropdown-item" 
                                  id="growthReport4"
                                  href="#growthChartE4"
                                  >2022 4사분기</a>
                              </div>
                            </div>
                          </div>
                        </div>
                		<div id="growthChartE1"></div>
                        <div class="text-center fw-semibold pt-3 mb-2">분기별 수익률</div>

                        <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                          <div class="d-flex">
                            <div class="me-2">
                              <span class="badge bg-label-primary p-2"><i class="bx bx-dollar text-primary"></i></span>
                            </div>
                            <div class="d-flex flex-column">
                              <small>수입</small>
                              <h6 class="mb-0">₩32.5m</h6>
                            </div>
                          </div>
                          <div class="d-flex">
                            <div class="me-2">
                              <span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
                            </div>
                            <div class="d-flex flex-column">
                              <small>지출</small>
                              <h6 class="mb-0">₩41.2m</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Total Revenue -->
                <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                  <div class="row">
                    <div class="col-12 mb-5">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                          </div>
                          <span class="d-block mb-1">마루건설 주가</span>
                          <h3 class="card-title text-nowrap mb-2">63,500 KRW</h3>
                          <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> - 1.82%</small>
                        </div>
                      </div>
                    </div>
                    
                    </div>
                <div class="row">
                    <div class="col-12 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                            <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                              <div class="card-title">
                                <h5 class="text-nowrap mb-2">작년 순이익</h5>
                                <span class="badge bg-label-warning rounded-pill">Year 2021</span>
                              </div>
                              <div class="mt-sm-auto">
                                <small class="text-success text-nowrap fw-semibold"
                                  ><i class="bx bx-chevron-up"></i> 68.2%</small
                                >
                                <h3 class="mb-0">₩84,686m</h3>
                              </div>
                            </div>
                            <div id="profileReportChart"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <!-- Expense Overview -->
                <div class="col-md-6 col-lg-8 order-0 mb-4">
                  <div class="card h-100">
                    <div class="card-header d-flex align-items-center justify-content-between pb-0">
                      <div class="card-title mb-0">
                        <h5 class="m-0 me-2">프로젝트별 수입 그래프</h5>
                      </div>
                      <div class="dropdown">
                        <button
                          class="btn btn-sm btn-outline-primary dropdown-toggle"
                          type="button"
                          id="growthReportId"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          2022
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                          <a class="dropdown-item" href="javascript:void(0);">2021</a>
                          <a class="dropdown-item" href="javascript:void(0);">2020</a>
                          <a class="dropdown-item" href="javascript:void(0);">2019</a>
                        </div>
                      </div>                 
                    </div>
                    <div class="card-body px-0">
                      <div class="tab-content p-0">
                        <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
                          <div class="d-flex p-4 pt-3">
                            <div class="me-3">
                              <small class="text-muted d-block">1번 프로젝트</small>
                              <div class="d-flex align-items-center">
                                <h6 class="mb-0 me-1" th:text="${proSales1}"></h6>
                                <small class="text-success fw-semibold">
                                  <i class="bx bx-chevron-right"></i>
                                  42.9%
                                </small>
                              </div>
                            </div>
                            <div class="me-3">
                              <small class="text-muted d-block">2번 프로젝트</small>
                              <div class="d-flex align-items-center">
                                <h6 class="mb-0 me-1" th:text="${proSales2}"></h6>
                                <small class="text-success fw-semibold">
                                  <i class="bx bx-chevron-right"></i>
                                  31.3%
                                </small>
                              </div>
                            </div>
                            <div class="me-3">
                              <small class="text-muted d-block">3번 프로젝트</small>
                              <div class="d-flex align-items-center">
                                <h6 class="mb-0 me-1" th:text="${proSales3}"></h6>
                                <small class="text-success fw-semibold">
                                  <i class="bx bx-chevron-right"></i>
                                  58.0%
                                </small>
                              </div>
                            </div>
                            <div class="me-3">
                              <small class="text-muted d-block">4번 프로젝트</small>
                              <div class="d-flex align-items-center">
                                <h6 class="mb-0 me-1"  th:text="${proSales4}"></h6>
                                <small class="text-success fw-semibold">
                                  <i class="bx bx-chevron-right"></i>
                                  10.9%
                                </small>
                              </div>
                            </div>
                          </div>
                          
                          <!-- 여기에 프로젝트별 차트 들어가야해 (Chart.js) 916x355사이즈 -->
                          <script th:inline="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                          <canvas id="bar-chart-horizontal" style="height:350px; width:917px; padding:10px"></canvas>
                                            
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Expense Overview -->
                
                
                
                <!-- Order Statistics -->
                <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                  <div class="card h-100">
                    <div class="card-header d-flex align-items-center justify-content-between pb-0">
                      <div class="card-title mb-0">
                        <h5 class="m-0 me-2">프로젝트 내 지출 비율</h5>
                      </div>
                      <div class="dropdown" style="margin-right:15px">
                        <button
                        type="button"
                        class="btn btn-sm btn-secondary dropdown-toggle hide-arrow"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                          1번 프로젝트
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                          <a class="dropdown-item" href="javascript:void(0);">2번 프로젝트</a>
                          <a class="dropdown-item" href="javascript:void(0);">3번 프로젝트</a>
                          <a class="dropdown-item" href="javascript:void(0);">4번 프로젝트</a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-3" style="margin-left:22px; margin-top:20px;">
                        <div class="d-flex flex-column align-items-center gap-1">
                          <h2 class="mb-2" th:text="${exRate1}+${exRate2}+${exRate3}+${exRate4}"></h2>
                          <span>단위: 백만 (원)</span>
                        </div>
                        <div id="orderStatisticsChart"></div>
                      </div>
                      <ul class="p-0 m-0">
                        <li class="d-flex mb-4 pb-1" style="margin: 20px">
                          <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded bg-label-primary"
                              ><i class="bx bx-mobile-alt"></i
                            ></span>
                          </div>
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <h6 class="mb-0">식비</h6>
                              <small class="text-muted">중식비, 석식비, 간식비</small>
                            </div>
                            <div class="user-progress">
                              <small class="fw-semibold"  th:text="${exRate1}"></small>
                            </div>
                          </div>
                        </li>                        
                        <li class="d-flex mb-4 pb-1" style="margin: 20px">
                          <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded bg-label-success"><i class="bx bx-closet"></i></span>
                          </div>
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <h6 class="mb-0">인건비</h6>
                              <small class="text-muted">월급, 추가수당</small>
                            </div>
                            <div class="user-progress">
                              <small class="fw-semibold"  th:text="${exRate2}"></small>
                            </div>
                          </div>
                        </li>
                        <li class="d-flex mb-4 pb-1"  style="margin: 20px">
                          <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                          </div>
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <h6 class="mb-0">자재비</h6>
                              <small class="text-muted">자재비, 보관료</small>
                            </div>
                            <div class="user-progress">
                              <small class="fw-semibold" th:text="${exRate3}"></small>
                            </div>
                          </div>
                        </li>
                        <li class="d-flex" style="margin: 20px">
                          <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded bg-label-secondary"
                              ><i class="bx bx-football"></i
                            ></span>
                          </div>
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <h6 class="mb-0">기타비</h6>
                              <small class="text-muted">기타비용</small>
                            </div>
                            <div class="user-progress">
                              <small class="fw-semibold" th:text="${exRate4}"></small>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--/ Order Statistics -->


              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="#" class="footer-link fw-bolder">TeamMaru</a>
                </div>
                <div>
                  <a href="#" class="footer-link me-4" target="_blank">License</a>
                  <a href="#" target="_blank" class="footer-link me-4">More Themes</a>

                  <a
                    href="#"
                    target="_blank"
                    class="footer-link me-4"
                    >Documentation</a
                  >

                  <a
                    href="#"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a
                  >
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    
   
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>    

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
