<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.maru.dao.NeedMaterialDAO">

	<insert id="insert" parameterType="NeedMaterial">
		INSERT INTO NEED_MATERIAL
		VALUES (need_material_seq.nextval,#{projects_num},#{material_num},#{count})
	</insert>

	<delete id="delete" parameterType="int">
		DELETE NEED_MATERIAL
		WHERE need_material_num=#{need_material_num}
	</delete>

	<update id="update" parameterType="NeedMaterial">
		UPDATE NEED_MATERIAL
		SET
		projects_num=#{projects_num},material_num=#{material_num},count=#{count}
		WHERE need_material_num = #{need_material_num}
	</update>

	<select id="selectOne" parameterType="int"
		resultType="NeedMaterial">
		SELECT *
		FROM NEED_MATERIAL
		WHERE need_material_num = #{need_material_num}
	</select>

	<select id="selectAll" resultType="NeedMaterial">
		SELECT *
		FROM NEED_MATERIAL
	</select>

</mapper>
	