<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.softsociety.maru.dao.ProjectsFundsDAO">

	<insert id="insert" parameterType="ProjectsFunds">
		insert into 
			projects_funds 
		values 
			(#{projects_funds_num}, #{projects_num}, #{funds_type_num}, #{funds_detail}, #{price}, sysdate)
	</insert>

	<delete id="delete" parameterType="int">
		delete from 
			projects_funds
		where 
			projects_funds_num=#{projects_funds_num}
	</delete>
	
	<update id="update" parameterType="ProjectsFunds">
		update 
			projects_funds
		set
			projects_num=#{projects_num}
			, funds_type_num=#{funds_type_num}
			, funds_detail=#{funds_detail}
			, price=#{price}
		where
			projects_funds_num=#{projects_funds_num}
	</update>
	
	<select id="selectAll" resultType="ProjectsFunds">
		select *
		from projects_funds
	</select>
	
	<select id="selectOne" parameterType="integer" resultType="ProjectsFunds">
		select 
			*
		from 
			projects_funds
		where
			projects_funds_num=#{projects_funds_num}
	</select>	

</mapper>