<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
  xmlns:th="http://thymeleaf.org" 
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>마루건설 시스템</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <!-- <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" /> -->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />
  

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core_m.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
    <script>
	    $(document).ready(function(){
	    	//$('#searchword').on('keyup', printItems);
	    	print();
	    });
	    
	    function print(){
	    	printmaterial();
	    	printByName();
	    	printByPrice();
	    	printByCount();
	    }

	    function printmaterial(){
	    	$.ajax({
	    		url:'printmaterial',
	    		type:'post',
	    		data: '',
	    		success:function(item){
	    			$('#printByMaterialnum').html(printList(item));
	    		},
	    		error:function(){
	    			alert('printItems 실패');
	    		}
	    	});
	    }

	    function printList(item){
	    	let result = '<div class="table-responsive text-nowrap">';
	    	result += '<table class="table table-hover">';
	    	result += '<tbody class="table-border-bottom-0">';
	    	
	    	for(let i = 0 ; i < item.length; i++){
	    		result += '<tr>';
	    		result += '<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>' + item[i].material_num +'</strong></td>';
	    		result += '<td>' + item[i].material_name +'</td>';
	    		result += '<td>' + item[i].count +'</td>';
	    		result += '<td>' + item[i].price +'</td>';
	    		result += '<td>'
	                   		+ '<div class="dropdown">'
	                		+	'<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">'
	                  		+		'<i class="bx bx-dots-vertical-rounded"></i>'
	                		+	'</button>' 	
	                		+ 	'<div class="dropdown-menu">'
	                	//+ 		'<a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i>수정</a>'
	                  		+ 		'<a class="dropdown-item" num="'+ item[i].material_num +'"><i class="bx bx-trash me-1"></i>삭제</a>'
	                  		+ 	'</div>'
	                		+ '</div>'
	             			+'</td>'; 
	    		result += '</tr>';
	    	}
	    	result += '</tbody>'
                + '</table>'
            + '</div>';
            
            $('.dropdown-item').on('click', deleteMaterial);
            
            return result;
	    }

	    function insert(){
	    	let material_name = $('#material_name_m').val();
	    	let count = $('#count_m').val();
	    	let price = $('#price_m').val();
	    	
	    	if(material_name == '' || count == '' || price == ''){
	    		alert("항목을 반드시 다 입력해 주세요.");
	    		return;
	    	}
	    	
	    	if(isNaN(count) || isNaN(price)){
	    		alert("수량과 가격은 반드시 숫자로 입력해 주세요.");
	    		return;
	    	}
	    	
	    	$.ajax({
	    		url:'insertMaterial',
	    		type:'post',
	    		data: {
	    			material_name: $('#material_name_m').val()
	    			, count: $('#count_m').val()
		    		, price: $('#price_m').val()
	    		},
	    		success: function(item){
	    			$('#insertModal').modal('hide');
	    	    	print();
	    		},
	    		error:function(){
	    			console.log('insertMaterial 실패');
	    		}
	    	});
	    	
	    }
	    
	    function deleteMaterial(){
	    	console.log(($(this).attr('num')));
	    	
	    	$.ajax({
	    		url:'deleteMaterial',
	    		type:'post',
	    		data:{ num : $(this).attr('num')},
	    		success: print,
	    		erorr:function(){
	    			alert('deleteMaterial 실패');
	    		}
	    	});
	    } 
	    
	    function printByName(){
	    	$.ajax({
	    		url:'printByName',
	    		type:'post',
	    		data: '',
	    		success:function(item){
	    			$('#printByName').html(printList(item));
	    		},
	    		error:function(){
	    			alert('printByName 실패');
	    		}
	    	});
	    };
	    
	    function printByPrice(){
	    	$.ajax({
	    		url:'printByPrice',
	    		type:'post',
	    		data: '',
	    		success:function(item){
	    			$('#printByPrice').html(printList(item));
	    		},
	    		error:function(){
	    			alert('printByPrice 실패');
	    		}
	    	});
	    };
	    
	    function printByCount(){
	    	$.ajax({
	    		url:'printByCount',
	    		type:'post',
	    		data: '',
	    		success:function(item){
	    			$('#printByCount').html(printList(item));
	    		},
	    		error:function(){
	    			alert('printByCount 실패');
	    		}
	    	});
	    };
	    
	    function lackMaterial(){
	    	location.href = "lackMaterial";
	    }
    </script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout">
		<nav
			class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center  bg-navbar-theme"
			id="layout-navbar">
			<div class="app-brand">
				<a th:href="@{/dashboard}" class="app-brand-link"> <span
					class="app-brand-logo"> <img src="../images/maru_logo.png"
						class="maru_logo" alt="">
				</span> <span class="app-brand-text demo menu-text fw-bolder ms-2">마루건설</span>
				</a>
			</div>

			<div class="navbar-nav-right d-flex align-items-center"
				id="navbar-collapse">
				<ul class="navbar-nav flex-row align-items-center ms-auto">
					<!-- Place this tag where you want the button to render. -->
					<!-- 여기에 넣고싶은 버튼 넣으면 됨. -->
					<li class="nav-item lh-1 me-3">

					<!-- 환영합니다 넣을 부분 -->	
						<a>박수연 소장님 환영합니다</a>


					</li>

					<!-- 프사 있는 부분 -->
					<!-- User -->
					<!-- 눌렀을 때, 내리려면 li안에 dropdown 쓰면 될듯 -->
					<li class="nav-item navbar-dropdown dropdown-user dropdown"><a
						class="nav-link dropdown-toggle hide-arrow"
						href="javascript:void(0);" data-bs-toggle="dropdown"> <!-- online, offline으로 상태 변화가능 -->
							<div class="avatar avatar-online">
								<img src="../assets/img/avatars/profile.jpg" alt
									class="w-px-40 h-auto rounded-circle" />
							</div>
					</a>

						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="#">
									<div class="d-flex">
										<div class="flex-shrink-0 me-3">
											<div class="avatar avatar-online">
												<img src="../assets/img/avatars/1.png" alt
													class="w-px-40 h-auto rounded-circle" />
											</div>
										</div>
										<div class="flex-grow-1">
											<span class="fw-semibold d-block">John Doe</span> <small
												class="text-muted">Admin</small>
										</div>
									</div>
							</a></li>
							<!-- 구분자 -->
							<li>
								<div class="dropdown-divider"></div>
							</li>
							<li><a class="dropdown-item" href="#"> <i
									class="bx bx-user me-2"></i> <span class="align-middle">My
										Profile</span>
							</a></li>
							<li><a class="dropdown-item" href="#"> <i
									class="bx bx-cog me-2"></i> <span class="align-middle">Settings</span>
							</a></li>
							<li><a class="dropdown-item" href="#"> <span
									class="d-flex align-items-center align-middle"> <i
										class="flex-shrink-0 bx bx-credit-card me-2"></i> <span
										class="flex-grow-1 align-middle">Billing</span> <span
										class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
								</span>
							</a></li>
							<li>
								<div class="dropdown-divider"></div>
							</li>
							<li><a class="dropdown-item" href="auth-login-basic.html">
									<i class="bx bx-power-off me-2"></i> <span class="align-middle">Log
										Out</span>
							</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
		<nav class="layout-navbar navbar container-xxl navbar-detached navbar-example navbar-expand-lg nav_white_custom bg-white mt-3">
			<div class="container-fluid">
				<a class="dash_board_custom" href="javascript:void(0)">대시보드</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbar-ex-2"
					aria-controls="navbar-ex-2" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar-ex-2">
					<div class="navbar-nav me-auto">
						<a class="nav-item dash_board_custom" th:href="@{/project/allProjectsInfo}">프로젝트관리</a>
						<a class="nav-item dash_board_custom" th:href="@{/dashboard/sign}">결재상황</a>
						<a class="nav-item dash_board_custom" th:href="@{/dashboard/post}">공고현황</a>
						<a class="nav-item nav-link dropdown-toggle hide-arrow dash_board_custom" data-bs-toggle="dropdown" style="color: #696cff !important;" >관리페이지</a>
						<ul class="dropdown-menu dropdown-menu-mk">
                           	<li>
                            	<a th:href="@{/manage/funds}" class="dropdown-item d-flex align-items-center"
      							><i class="bx bx-chevron-right scaleX-n1-rtl"></i>자금 관리</a>
                            </li>
                            <li>
                              <a th:href="@{/manage/material}" class="dropdown-item d-flex align-items-center"
                                ><i class="bx bx-chevron-right scaleX-n1-rtl"></i>자재 관리</a>
                            </li>
                            <li>
                              <a th:href="@{/manage/worker}" class="dropdown-item d-flex align-items-center"
                                ><i class="bx bx-chevron-right scaleX-n1-rtl"></i>인력 관리</a>
                            </li>
                       	</ul>
					</div>
				</div>
			</div>
		</nav>
		<div class="margin_custom"></div>
	</div>
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="col-lg-12 mb-4 order-0">
                <div class="card mb-4">
                  <div class="row row-bordered">
                    <div class="col-md-3">
                      <h5 class="card-header">마루건설 자재 현황</h5>
                      
                      <div class="card-body">
                        <div class="row mt-2  d-grid gap-3">
                          <input type="text">
                          <button class="btn btn-primary btn-xl">전체 자재 목록</button>
                          <button class="btn btn-primary">철근/철골</button> 
                          <button class="btn btn-primary">석재</button>
                          <button class="btn btn-primary">단열재</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-4 mt-2">
                          <button class="btn rounded-pill btn-outline-secondary">전체자재</button>
                          <button class="btn rounded-pill btn-outline-secondary" onclick="lackMaterial()">요청자재</button>
                          
                          
                        </div>
                        <div class="col-md-7" style="margin-left:60px;">
                          <button class="btn btn-outline-primary mt-2 btn-float-right"
                                  data-bs-toggle="modal"
                                  data-bs-target="#insertModal">자재 추가</button>
                          <!-- Modal -->
                          <div class="modal fade" id="insertModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-h	eader">
                                  <h5 class="modal-title" id="modalCenterTitle">자재추가</h5>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col mb-3">
                                      <label for="material_name_m" class="form-label">자재명</label>
                                      <input
                                        type="text"
                                        id="material_name_m"
                                        class="form-control"
                                        placeholder="자재명을 입력해주세요."
                                      />
                                    </div>
                                  </div>
                                  <div class="row g-2">
                                    <div class="col mb-0">
                                      <label for="price_m" class="form-label">가격</label>
                                      <input
                                        type="text"
                                        id="price_m"
                                        class="form-control"
                                        placeholder="가격을 입력해주세요."
                                      />
                                    </div>
                                    <div class="col mb-0">
                                      <label for="count_m" class="form-label">수량</label>
                                      <input
                                        type="text"
                                        id="count_m"
                                        class="form-control"
                                        placeholder="수량을 입력해주세요."
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Close
                                  </button>
                                  <button type="button" class="btn btn-primary" onclick="insert()">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="demo-inline-spacing mt-3">
                          <div class="list-group list-group-horizontal-md text-md-center">
                            <a
                              class="list-group-item list-group-width-1 active "
                              id="num-list-item"
                              data-bs-toggle="list"
                              href="#horizontal-num"
                              >번호</a
                            >
                            <a
                              class="list-group-item list-group-width-2"
                              id="name-list-item"
                              data-bs-toggle="list"
                              href="#horizontal-name"
                              style="width:350px;"
                              >자재명</a
                            >
                            <a
                              class="list-group-item list-group-width-3"
                              id="price-list-item"
                              data-bs-toggle="list"
                              href="#horizontal-price"
                              >가격</a
                            >
                            <a
                              class="list-group-item list-group-width-4"
                              id="count-list-item"
                              data-bs-toggle="list"
                              href="#horizontal-count"
                              style="width:210px;"
                              >수량</a
                            >
                            <a
                              class="list-group-item list-group-width-5"
                              id="count-list-item"
                              style="width:135px;"
                              >삭제</a
                            >
                          </div>
                          <div class="tab-content px-0 mt-0" style="text-align:center; padding-top:0px;">
                            <div class="tab-pane fade show active" id="horizontal-num">
                            	<div id="printByMaterialnum"></div>
                            </div>
                            <div class="tab-pane fade" id="horizontal-name">
                              <div id="printByName"></div>
                            </div>
                            <div class="tab-pane fade" id="horizontal-price">
                              <div id="printByPrice"></div>
                            </div>
                            <div class="tab-pane fade" id="horizontal-count">
                              <div id="printByCount"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                
              </div>
              <!--/ Transactions -->
            </div>
          </div>
          <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="#" class="footer-link fw-bolder">TeamMaru</a>
                </div>
                <div>
                  <a href="#" class="footer-link me-4" target="_blank">License</a>
                  <a href="#" target="_blank" class="footer-link me-4">More Themes</a>

                  <a
                    href="#"
                    target="_blank"
                    class="footer-link me-4"
                    >Documentation</a
                  >

                  <a
                    href="#"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a
                  >
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/dashboards-analytics.js"></script>
    

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
