<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<style>
	textarea {
		width: 200px;
		height: 200px;
		resize: none;
	}
</style>
<script>

$(document).ready(function(){
	$('#bt').click(insertReply);
	printReplys();
});

function insertReply(){
	let replytext = $('#replytext').val();
	
	if(replytext == ''){
		alert("내용을 입력해주세요.")
		return;
	}
	
	$.ajax({
		url:'insertReply',
		type:'post',
		data:$('#insertReply').serialize(),
		success:printList,
		error:function(){
			alert('insertReply 실패');
		}
	});
}

function printReplys(){
	$.ajax({
		url:'printReplys',
		type:'get',
		data: $('#insertReply').serialize(),
		success:printList,
		error:function(){
			alert('printReplys 실패');
		}
	});
}

function printList(reply){
	let result = '<table>';
	
	for(let i = 0 ; i < reply.length; i++){
		result += '<tr>';
		result += '<td>' + reply[i].memberid +'</td>';
		result += '<td>' + reply[i].replytext +'</td>';
		result += '<td>' + reply[i].inputdate +'</td>';
		result += '</tr>';
	}
	result += '</table>';
	
	$('#printReplys').html(result);
}
 
</script>
</head>
<body>
	<h1>[ 판매 정보 ]</h1>
	<form action="boardDetail" method="post">
		<table>
			<tr>
				<th>작성자</th>
				<td><input type="text" id="title" name="title" readonly="readonly" th:value="${board.memberid}"></td>
			</tr>
			<tr>
				<th>작성일</th>
				<td><input type="text" id="title" name="title" readonly="readonly" th:value="${board.inputdate}"></td>
			</tr>
			<tr>
				<th>제목</th>
				<td><input type="text" id="title" name="title" readonly="readonly" th:value="${board.title}"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea id="contents" name="contents" readonly="readonly" th:text="${board.contents}"></textarea></td>
			</tr>
			<tr>
				<td th:if="${board.memberid}==${memberid}"><a th:href="@{/board/deleteBoard(boardnum=${board.boardnum})}">삭제</a></td>
				<td th:if="${board.memberid}!=${memberid}"><a th:href="@{/board/buyItem(boardnum=${board.boardnum})}">구매하기</a></td>
			</tr>
		</table>
	</form>
	<br>
	<div sec:authorize="isAuthenticated()">
		<form id="insertReply">
			<input type="text" id="replytext" name="replytext" style="width: 250px"> 
			<input type="button" id="bt" value="댓글 작성"> 
			<input type="hidden" id="boardnum" name="boardnum" th:value="${board.boardnum}">
			<input type="hidden" name="memberid" th:value="${memberid}">
		</form>
	</div>

	<div id="printReplys"></div>
</body>
</html>