<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr"
	data-theme="theme-default" data-assets-path="../assets/"
	data-template="vertical-menu-template-free"
	xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>마루건설</title>

<meta name="description" content="" />
<!-- Favicon -->
<link rel="icon" type="image/x-icon"
	href="assets/img/favicon/favicon.ico" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" />

<!-- Icons. Uncomment required icon fonts -->
<link rel="stylesheet" href="assets/vendor/fonts/boxicons.css" />

<!-- Core CSS -->
<link rel="stylesheet" href="assets/vendor/css/core_j.css"
	class="template-customizer-core-css" />
<link rel="stylesheet" href="assets/vendor/css/theme-default.css"
	class="template-customizer-theme-css" />
<link rel="stylesheet" href="assets/css/demo.css" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	href="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

<!-- Page CSS -->

<!-- Helpers -->
<script src="assets/vendor/js/helpers.js"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="assets/js/config.js"></script>
</head>


<body>

	<div class="layout">
		<nav
			class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center  bg-navbar-theme"
			id="layout-navbar">
			<div class="app-brand">
				<a href="" class="app-brand-link"> <span
					class="app-brand-logo"> <img src="images/maru_logo.png"
						class="maru_logo" alt="">
				</span> <span class="app-brand-text demo menu-text fw-bolder ms-2">마루건설</span>
				</a>
			</div>

			<div class="navbar-nav-right d-flex align-items-center"
				id="navbar-collapse">
				<ul class="navbar-nav flex-row align-items-center ms-auto">
					<!-- Place this tag where you want the button to render. -->
					<!-- 여기에 넣고싶은 버튼 넣으면 됨. -->
					<li class="nav-item lh-1 me-3">
						<!-- 별모양 버튼 --> <a class="github-button" href="#"
						data-icon="octicon-star" data-size="large" data-show-count="true">Star</a>
					</li>

					<!-- 프사 있는 부분 -->
					<!-- User -->
					<!-- 눌렀을 때, 내리려면 li안에 dropdown 쓰면 될듯 -->
					<li class="nav-item navbar-dropdown dropdown-user dropdown"><a
						class="nav-link dropdown-toggle hide-arrow"
						href="javascript:void(0);" data-bs-toggle="dropdown"> <!-- online, offline으로 상태 변화가능 -->
							<div class="avatar avatar-online">
								<img src="assets/img/avatars/1.png" alt
									class="w-px-40 h-auto rounded-circle" />
							</div>
					</a>

						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="#">
									<div class="d-flex">
										<div class="flex-shrink-0 me-3">
											<div class="avatar avatar-online">
												<img src="assets/img/avatars/1.png" alt
													class="w-px-40 h-auto rounded-circle" />
											</div>
										</div>
										<div class="flex-grow-1">
											<span class="fw-semibold d-block">John Doe</span> <small
												class="text-muted">Admin</small>
										</div>
									</div>
							</a></li>
							<!-- 구분자 -->
							<li>
								<div class="dropdown-divider"></div>
							</li>
							<li><a class="dropdown-item" href="#"> <i
									class="bx bx-user me-2"></i> <span class="align-middle">My
										Profile</span>
							</a></li>
							<li><a class="dropdown-item" href="#"> <i
									class="bx bx-cog me-2"></i> <span class="align-middle">Settings</span>
							</a></li>
							<li><a class="dropdown-item" href="#"> <span
									class="d-flex align-items-center align-middle"> <i
										class="flex-shrink-0 bx bx-credit-card me-2"></i> <span
										class="flex-grow-1 align-middle">Billing</span> <span
										class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
								</span>
							</a></li>
							<li>
								<div class="dropdown-divider"></div>
							</li>
							<li><a class="dropdown-item" href="auth-login-basic.html">
									<i class="bx bx-power-off me-2"></i> <span class="align-middle">Log
										Out</span>
							</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
		<nav class="layout-navbar navbar container-xxl navbar-detached navbar-example navbar-expand-lg nav_white_custom bg-white mt-3">
			<div class="container-fluid">
				<a class="dash_board_custom" href="javascript:void(0)">대시보드</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbar-ex-2"
					aria-controls="navbar-ex-2" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar-ex-2">
					<div class="navbar-nav me-auto">
						<a class="nav-item dash_board_custom" th:href="@{/project/allProjectsInfo}">프로젝트관리</a>
						<a class="nav-item dash_board_custom" th:href="@{/dashboard/sign}">결재상황</a>
						<a class="nav-item dash_board_custom" th:href="@{/dashboard/post}">공고현황</a>
						<a class="nav-item dash_board_custom" th:href="@{/manage/funds}">관리페이지</a>
					</div>
				</div>
			</div>
		</nav>
		<div class="margin_custom"></div>
	</div>

	<!--대시보드-->

	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="mb-5">
				<div class="col-lg-12 mb-4 order-0">
					<div class="card">
						<div class="row row-bordered">
							<div class="col-md-4">
								<div style="text-align: center;">
									<p class="mt-3">
										
										<img src="images/projecticon.png" class="maru_logo">
										<a th:href="@{project/allProjectsInfo}">총프로젝트</a>
									</p>
									<p th:text="${totProject}"></p>
									<p th:text="${projectStr}"></p>
								</div>
							</div>
							<div class="col-md-4">
								<p class="mt-3">이번달 종료되는 프로젝트</p>
								<p>
								<p th:each="returnCurrEndProjects : ${returnCurrEndProjects}">
									<span class="badge bg-label-warning me-1"
										th:text="|D${returnCurrEndProjects.d_day}|"></span> <span
										style="padding-left: 5%"></span> <strong><span
										class="set-width"
										th:text="${returnCurrEndProjects.Projects_name}"></span></strong> <span
										class="set-float-right"> <span
										class="badge bg-label-success me-1"
										th:text="|${returnCurrEndProjects.progress}%|"></span>
									</span>
								</p>
							</div>
							<div class="col-md-4">
								<p class="mt-3">실시간 이슈</p>
								<p th:each="issueList : ${issueList}">
									<span th:text="${issueList.title}"></span> <span
										style="padding-left: 20%"></span> <span style="margin-right: 5%" class="set-float-right"
										th:text="${issueList.input_date}"></span>
								</p>
							</div>
						</div>
					</div>

					<div class="margin_custom"></div>

					<!--진행상황-->

					<div class="nav-align-top mb-4">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<button type="button" class="nav-link active" role="tab"
									data-bs-toggle="tab" data-bs-target="#navs-top-home"
									aria-controls="navs-top-home" aria-selected="true">
									진행상황</button>
							</li>
							<li class="nav-item">
								<button type="button" class="nav-link" role="tab"
									data-bs-toggle="tab" data-bs-target="#navs-top-profile"
									aria-controls="navs-top-profile" aria-selected="false">
									이슈현황</button>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="navs-top-home"
								role="tabpanel">
								<div class="tab-contents1">

									<!--진행상황리스트-->

									<div class="table-responsive text-nowrap">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>프로젝트</th>
													<th>D-day</th>
													<th>진행률</th>
													<th>이슈</th>

												</tr>
											</thead>
											<tbody class="table-border-bottom-0"
												th:each="totList : ${totList}">

												<tr>
													<td><a th:href="@{project/projectInfo(projects_num=${totList.projects_num})}"><strong th:text="${totList.Projects_name}"></strong></a></td>
													<td><span class="badge bg-label-warning me-1"
														th:text="|D${totList.d_day}|"></span></td>
													<td><span class="badge bg-label-success me-1"
														th:text="|${totList.progress}%|"></span></td>
													<td><span class="badge bg-label-primary me-1"
														th:text="|${totList.issueCnt}개|"></span></td>
												</tr>

											</tbody>
										</table>
									</div>

								</div>


								<!--calender-->
								<iframe src="calendar/calender.html" frameborder="0"
									class="tab-contents2"></iframe>


							</div>
							<div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
								<div class="table-responsive text-nowrap">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>이슈</th>
												<th>프로젝트</th>
												<th>작성자</th>
												<th>작성날짜</th>

											</tr>
										</thead>
										<tbody class="table-border-bottom-0"
											th:each="issueTotList : ${issueTotList}">

											<tr>
												<td><strong th:text="${issueTotList.issueTitle}"></strong></td>
												<td><span class="badge bg-label-warning me-1"
													th:text="${issueTotList.projects_title}"></span></td>
												<td><span class="badge bg-label-success me-1"
													th:text="${issueTotList.position}"></span></td>
												<td><span class="badge bg-label-primary me-1"
													th:text="${issueTotList.input_date}"></span></td>

											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

	<script src="assets/vendor/libs/jquery/jquery.js"></script>
	<script src="assets/vendor/libs/popper/popper.js"></script>
	<script src="assets/vendor/js/bootstrap.js"></script>
	<script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

	<script src="assets/vendor/js/menu.js"></script>
	<!-- endbuild -->

	<!-- Vendors JS -->

	<!-- Main JS -->
	<script src="assets/js/main.js"></script>

	<!-- Page JS -->

	<!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>

</html>